/* external css */
header{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: #2b08f12a;
    padding: 2px;
    border-radius: 5px;
}

header img{
    width: 50px;
    border-radius: 5px;
}

header nav {
    width: 90%;
    padding: 10px;
    align-content: flex-end;
    background-color: rgba(0, 17, 255, 0.192);
    text-align: end;
    padding: 30px 30px 30px 0;
    
}
header nav a{
    margin-right: 10px;
    text-decoration-line: none;

}

header nav a:hover{
    color: aliceblue;
    background-color: #000;
    border-radius: 3px ;

}

#textcolor{
    color: green;
    text-align: center  ;
}


/* card */
.card{
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    height: 500px;
    padding: 10px;
    
    border-radius: 5PX;
    overflow: hidden;
    
  }

.card > img{
    width: 100%;
   
    border-radius: 5px;
}



  
.card:hover {
box-shadow: 0 8px 16px 2px rgba(0,0,0,0.2);
overflow: auto;
width: 50%;
}
