body, html{
    height: 100%;
    margin:0;
}


:root{
    --navbar-height:100px;
    --footer-height:32px;
}

.avatar{
    height: 300px;
    width: 300px;
}

.my-footer{
    justify-content: center;
    width: 100%;
    height: var(--footer-height);
    background-color: black;
    color: white;
   
}
.content-section{
    min-height: calc(100% - var(--navbar-height) - var(--footer-height));
}

.social-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap:16px;
    margin: 5px;
    align-self: center;
}

.social-list .social-item a{
    text-decoration: none ;
    border-radius: 3px;
    padding: 0 5px;
    display: block;
    
}

.social-list > .social-item:first-child > a{
    background-color: #0165E1;
    color: #ffffff;
}

.social-list > .social-item:nth-child(2) > a{
    background: #0077b5;
    color: #ffffff;
    
}


.social-list > .social-item:nth-child(3) > a{
    background: linear-gradient(32deg, #feda77, #dd2a7b, #dd2a7b);
    color: #ffffff;
    
}
.section{
    min-height: calc(100% - var(--navbar-height) - var(--footer-height)) ;
}

/* gallery.html */
.carousel-width > .carousel-item img,  .card-gallery > img   {
    width: 100%;
    height: 500px; /* Set a fixed height */
    object-fit: contain;
    background-color: #feda77;
    border-radius: 5px;

}

.card-gallery > img {
    height: fit-content;
    object-fit: contain;
    width: 100%;
   
}

.card:hover {
    box-shadow: 0 12px 5px 1px rgba(0, 0, 0, 0.473);
    
    
}


/* games.html */
.responsive-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* This creates a 16:9 aspect ratio (9 / 16 = 0.5625) */
    height: 0;
    overflow: hidden;
  }
  .responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: calc(100% - var(--navbar-height) - var(--footer-height)) ;
    border: 0;
  }
